// compileOnSave: false

/*
 * This file is part of the QuidPHP package.
 * Website: https://quidphp.com
 * License: https://github.com/quidphp/core/blob/master/LICENSE
 */
 
// clickOpen
// stylesheet for the various clickOpen components of the CMS

/* POPUP */
@include basePopup();
body .loading .popup,
body .loading.popup {
	display: block;
}
body .active .popup {
	display: block;
}
.popup {
	z-index: 1;
	box-shadow: 0px 0px 6px -2px $gray;
	font-size: 1.3rem;
	width: 350px;
	max-width: 350px;
	background: $lighterGray;
	border: 1px solid $lightGray;
	color: $black;
	text-align: left;
	min-height: 20px;
	max-height: 250px;
	overflow-y: auto;
	padding: 10px 15px 0;
	box-sizing: border-box;
	
	.topRight {
		@include abs(15px,20px);
	}
	
	&:after {
		content: "";
		height: 10px;
		display: block;
	}
	
	a {
		color: $black;
		
		&:hover {
			color: gray;
		}
	}
	
	.icon.info {
		cursor: default;
		opacity: 1;
		
		&:hover {
			opacity: 1;
		}
	}
	
	> ul {
		 @include ulOlMargin();
		
		> li {
			padding: 4px 0;
			
			> span:first-child {
				font-weight: bold;
				margin-right: 5px;
			}
			
			> ul {
				@include ulOlMargin();
				padding-top: 5px;
			}
		}
	}
}


/* CLICK OPEN + FAKE SELECT */
.clickOpen.filter,
.fakeselect {
	@include clickOpen();
	
	> .trigger > .ico {
		@include wh(12px,true,"",true);
	}
	
	&.loading .popup {
		min-height: 30px;
		
		.top, .result {
			display: none;
		}
	}
}
.clickOpen.filter .popup {
	@include clickOpenPopup();
}