// compileOnSave: false

/*
 * This file is part of the QuidPHP package.
 * Website: https://quidphp.com
 * License: https://github.com/quidphp/core/blob/master/LICENSE
 */
 
// error
// stylesheet for the error page of the CMS

/* ERROR */
.error main .inner {
	text-align: center;
	
	h1,
	h2 {
		margin-bottom: 5px;
	}
	
	h3 {
		margin-bottom: 10px;
	}
	
	.back {
		@include wysiwyg();
	}
}