// compileOnSave: false

/*
 * This file is part of the QuidPHP package.
 * Website: https://quidphp.com
 * License: https://github.com/quidphp/core/blob/master/LICENSE
 */
 
// home
// stylesheet for the home page of the CMS

/* HOME */
.home main .inner > .top .left h1 {
	margin-right: 10px;
}
.home main .inner > .bottom > .task {
	> a {
		@include panelButton();
		font-size: 90%;
		font-weight: bold;
	}
}
.home main .inner > .bottom > .search {
	@include wh(60%,50vh);
	margin: auto;
	padding: 0 20px;
	text-align: center;
	
	form {
		position: relative;
		margin-bottom: 10px;
		
		input[type='text'] {
			display: block;
			width: 100%;
			padding: 10px 10px 10px 40px;
			margin-right: 5px;
			font-size: 125%;
		}
		
		.icon {
			@include abs(50%,"","",10px);
			margin-top: -8px;
		}
		
		.popup {
			width: 100%;
			max-width: inherit;
			max-height: 225px;
		}
	}
	
	.in {
		font-size: 90%;
		
		div span:first-child {
			font-weight: bold;
			margin-right: 3px;
		}
	}
}


/* RESPONSIVE */
@media screen and (max-width: 900px), screen and (orientation: portrait) {
	.home main .inner > .bottom > .search {
		@include responsiveBlock();
		height: auto;
		margin-top: 20px;
	}
}