// compileOnSave: false

/*
 * This file is part of the QuidPHP package.
 * Website: https://quidphp.com
 * License: https://github.com/quidphp/core/blob/master/LICENSE
 */
 
// style
// stylesheet containing the root styling rules as well as common classes for the CMS

/* INIT */
@include reset();
@include default();
@include jqueryUi();


/* HTML */
body {
	font-size: 1.4rem;
	font-weight: 300;
	line-height: 1.5;
}


/* TITRE */
h1 {
	font-size: 2.2rem;
	font-weight: 600;
}
h2 {
	font-size: 1.8rem;
	font-weight: 600;
}
h3 {
	font-size: 1.4rem;
	font-weight: 600;
}


/* FORM */
input[type='text'],
input[type='password'],
input[type='email'],
textarea {
	border-radius: 3px;
	border: 1px solid $lightGray;
	
	&.active,
	&:hover,
	&:focus {
		background-color: $lightYellow;
	}
	
	&.invalid {
		border: 1px solid $red;
		background-color: $red;
		color: $white;
	}
}
input::-webkit-input-placeholder, 
textarea::-webkit-input-placeholder {
	color: $gray;
}
input::-moz-placeholder, 
textarea::-moz-placeholder {
	color: $darkGray;
}
input:-ms-input-placeholder, 
textarea:-ms-input-placeholder {
	color: $gray !important;
}
select {
	border-radius: 3px;
	border: 1px solid $lightGray;
	padding: 3px;
	font-size: 1.3rem;
	
	&:hover {
		background-color: $lightYellow;
	}
	
	&.invalid {
		border: 1px solid $red;
		background-color: $red;
		color: $white;
	}
}
label[for]:hover {
	color: $darkGray;
}
button[type='submit'],
body .submit {
	@include inbl();
	@include transitions(background-color 0.3s,opacity 0.3s);
	cursor: pointer;
	-webkit-appearance: none;
	padding: 5px 10px;
	border-radius: 6px;
	border: 1px solid $darkerColor;
	line-height: 1.3;
	background-color: $darkColor;
	color: $white;
	
	&.selected,
	&:hover {
		background-color: $darkerColor;
		opacity: 0.8;
	}
	
	&.solo {
		background-color: transparent;
		border: transparent;
		padding: 0;
		border-radius: 0;
	}
}
a.button {
	color: $white !important;
	
	&:hover {
		text-decoration: none !important;
	}
}
button,
.button {
	@include inbl();
	@include transitions(opacity 0.3s);
	background: transparent;
	cursor: pointer;
	border: 0;
	
	&:hover {
		opacity: 0.8;
	}
}


/* COUNT INFO */
.countInfo {
	@include inbl();
	position: relative;
	
	.count {
		font-size: 1.3rem;
		padding: 5px 5px 5px 25px;
	}
	
	&.withPopup {
		&:hover {
			.count {
				background-color: $color;
				color: $white;
				border-radius: 5px;
			}
			
			.popup {
				display: block;
			}
		}	
	}
}


/* ICON */ 
body .icon {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: 16px 16px;
	
	&.solo {
		@include inbl();
		@include transitions(opacity 0.3s);
		@include wh(16px);
		cursor: pointer;
		
		&:hover {
			opacity: 0.8;
		}
	}
	
	&.padLeft {
		background-position: 5px 50%;
		padding-left: 25px;
	}
	
	&.center {
		@include abs(50%,"","",50%);
		margin-left: -8px;
		margin-top: -8px;
	}
}


/* PRINT */
@media print {
	* {
		page-break-after: avoid;
	}
	
	.popup,
	.close {
		display: none !important;
	}
}